/* Solo pequeños ajustes extra */
.card {
    border-radius: 0.5rem;
}

.table {
    font-size: 0.9rem;
}

    .table thead th {
        white-space: nowrap;
    }

.page-link {
    cursor: pointer;
}

.page-item.disabled .page-link {
    cursor: not-allowed;
    pointer-events: none;
    opacity: 0.6;
}

.page-item.active .page-link {
    background-color: #0d6efd;
    border-color: #0d6efd;
    color: white;
}
