@inherits LayoutComponentBase

<div class="login-container">
    <div class="left-panel">
        
    </div>
    <div class="right-panel">
        <div class="login-card">
            @Body
        </div>
    </div>
</div>
